doctype html
html
  head
    title Login
  body(bgcolor="#F0F0F0")
    center
      h1 Login Form
      hr
      form(action="/verify" method="post")
        p Username:
        input(type="text" required name="username")
        p Password:
        input(type="password" required name="password")
        p
        input(type="submit" value="Login")
    br
    hr
    p(style="font-family: Arial;") &copy; Microsoft Corporation 2018. All rights reserved.
